@model Nikhil.CodingChallenge.ViewModels.EmployeeDeductionViewModel
@{
    ViewBag.Title = "Home Page";
}
<div class="row">
    <div class="col-md-10">
        <div>
            <h4>Employee deduction results</h4>
            <hr />
            <div class="form-group">
                @Html.LabelFor(m => m.PayCheckBeforeDeducations, new { @class = "col-md-5 control-label" })
                <div class="col-md-4">
                    <label class="col-md-4 control-label">@Html.DisplayFor(m => m.PayCheckBeforeDeducations) </label>
                </div>

            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.EmployeeAnnualDeductions, new { @class = "col-md-5 control-label" })
                <div class="col-md-4">
                    <label class="col-md-4 control-label">@Html.DisplayFor(m => m.EmployeeAnnualDeductions) </label>
                </div>

            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.DependentAnnualDeductions, new { @class = "col-md-5 control-label" })
                <div class="col-md-4">
                    <label class="col-md-4 control-label">@Html.DisplayFor(m => m.DependentAnnualDeductions) </label>
                </div>

            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.EmployePaycheckDeductions, new { @class = "col-md-5 control-label" })
                <div class="col-md-4">
                    <label class="col-md-4 control-label">@Html.DisplayFor(m => m.EmployePaycheckDeductions) </label>
                </div>

            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.DependentPaycheckDeductions, new { @class = "col-md-5 control-label" })
                <div class="col-md-4">
                    <label class="col-md-4 control-label">@Html.DisplayFor(m => m.DependentPaycheckDeductions) </label>
                </div>

            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.PayCheckAfterDeducations, new { @class = "col-md-5 control-label" })
                <div class="col-md-4">
                    <label class="col-md-4 control-label">@Html.DisplayFor(m => m.PayCheckAfterDeducations) </label>
                </div>

            </div>


        </div>
    </div>
</div>
